---
import PokemonCard from "@components/PokemonCard.astro";
import Layout from "@layouts/Layout.astro";

import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import type { GetStaticPaths } from "astro";

const { name } = Astro.params;
const { url } = Astro.props;

export const getStaticPaths = (async () => {
  const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=1302");
  const { results } = (await response.json()) as PokemonListResponse;

  return results.map(({ name, url }) => ({
    params: { name: name },
    props: { name: name, url: url },
  }));
}) satisfies GetStaticPaths;

const id = url.split("/").at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<Layout title=`Pokemon #${id} ${name}` description=`Información del Pokemon ${name}` image={imageSrc}>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div>
      <a class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="/">Regresar</a>
      <h1 class="text-3xl pt-4 capitalize text-center text-cyan-300">{name}</h1>
    </div>

    <PokemonCard name={name} url={url} isBig={true} />
    <audio controls src={audioSrc}></audio>
  </section>
</Layout>
