---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BlogLayout from "src/layouts/BlogLayout.astro";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog");
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

// Renderiza el contenido de los archivos md - mdx (Content) y retorna los headings (titulos) de los archivos
const { Content, headings } = await post.render();
---

<BlogLayout title={post.data.title}>
  <h1 class="text-xs text-gray-500 mb-0">{post.data.title}</h1>
  <h4 class="text-md text-gray-400 mb-0 py-2">{post.data.author}</h4>

  <Image
    class="object-cover w-full rounded-md h-[250px]"
    src={post.data.image}
    alt={post.data.title}
    width={600}
    height={220}
    quality="low"
    loading="lazy"
  />

  <h3>Tabla de contenidos</h3>
  <ol>
    {
      headings.map((heading, index) => (
        <li>
          <a href={`#${heading.slug}`}>
            {index + 1} - {heading.text}
          </a>
        </li>
      ))
    }
  </ol>

  <!-- Contenido de los archivos md - mdx -->
  <Content />

  <div class="my-20">
    <a href="#btn-back">Ir arriba</a>
  </div>
</BlogLayout>
