---
import { Formatter } from "@utils/formatter";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import BlogLayout from "src/layouts/BlogLayout.astro";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog");
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

// Renderiza el contenido de los archivos md - mdx (Content) y retorna los headings (titulos) de los archivos
const { Content, headings } = await post.render();

// Acceder a datos referencias con getEntry
const author = await getEntry("author", post.data.author.id);
---

<BlogLayout title={post.data.title}>
  <h1 class="text-xs text-gray-500 mb-0">{post.data.title}</h1>
  <div class="text-md text-gray-500 my-3 flex flex-row mt-2">
    <Image
      src={author.data.avatar}
      alt={author.data.name}
      class="rounded-full"
      height={50}
      width={50}
    />
    <div class="flex flex-col ml-5">
      <a href=`../blog/${post.data.author.id}`>{author.data.name}</a>
      <span class="text-xs text-gray-200">{Formatter.formatDate(post.data.date)}</span>
    </div>
  </div>
  

  <Image
    class="object-cover w-full rounded-md h-[250px]"
    src={post.data.image}
    alt={post.data.title}
    width={600}
    height={220}
    quality="low"
    loading="lazy"
  />

  <h3>Tabla de contenidos</h3>
  <ol>
    {
      headings.map((heading, index) => (
        <li>
          <a href={`#${heading.slug}`}>
            {index + 1} - {heading.text}
          </a>
        </li>
      ))
    }
  </ol>

  <!-- Contenido de los archivos md - mdx -->
  <Content />

  <div class="my-20">
    <a href="#btn-back">Ir arriba</a>
  </div>
</BlogLayout>
